* {
    margin: 0;
    /* margem */
    padding: 0;
    /* espaçamento interno */
    box-sizing: border-box;
    /* inclui bordas e padding na largura e altura */
    font-family: 'Poppins', sans-serif;
    /* fonte */
}

body {
    background: #f5ecfa;
    /* cor de fundo */
    color: #333;
    /* cor do texto */
}

/* HEADER */
.header {
    display: flex;
    /* flexbox */
    justify-content: space-between;
    /* espacamento entre os elementos */
    align-items: center;
    /* alinhamento vertical */
    padding: 20px 40px;
    /* espacamento interno */
    background: #f5ecfa;
    /* cor de fundo */
}

.logo {
    height: 60px;
    /* altura */
}


.menu a {
    margin-left: 20px;
    /* espacamento entre os elementos */
    text-transform: uppercase;
    /* transforma o texto em maiúsculo */
    text-decoration: none;
    color: #9d72b8;
    /* cor do texto */
    font-weight: 500;
    /* peso da fonte */
}

.btn-header {
    padding: 8px 18px;
    background: #7cbf9e;
    color: #fff !important;
    border-radius: 20px;
}

/*HERO*/
.hero {
    background: linear-gradient(135deg, #e9dcf4, #e1f2e9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    min-height: 80vh;
}

.atend {
    width: 500px;    /* largura */
    border-radius: 15px;
    /* bordas arredondadas */
    object-fit: cover;
    /* cobre todo o espaço */
    margin-left: 50px;
    /* espaçamento esquerdo */
    

}

.btn-hero {
    display: inline-block;
    /* faz o link se comportar como um botão */
    margin-top: 25px;
    /* espaçamento superior */
    margin-bottom: 14px;
    /* espaçamento inferior */
    padding: 14px 30px;
    /* espaçamento interno */
    background: #7cbf9e;
    /* cor de fundo */
    color: #fff;
    /* cor do texto */
    text-decoration: none;
    /* remove o sublinhado */
    border-radius: 25px;
    /* bordas arredondadas */
    font-weight: 600;
    /* peso da fonte */
}

.hero-text {
    max-width: 700px;
    text-align: left;
    flex: 1;
}

.hero h1 {
    font-size: 2.5rem;
    color: #6A1B9A;
}

.hero p {
    margin-top: 15px;
    font-size: 1.1rem;
}

.btn-principal {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 30px;
    background: #7cbf9e;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 600;
}

.btn-principal:hover {
    background: #6ab18f;
}

/* SOBRE */
.sobre {
      background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.sobre h2 {
    color: #6a1b9a;
    margin-bottom: 20px;
}

.sobre p {
    margin-bottom: 20px;
}

.val {
    height: 300px;
    /* altura */
    padding: 10px 10px;


}

/* SERVIÇOS */
.servicos {
    padding: 60px 40px;
    background: #f1f7f3;
    text-align: center;
    color: #6a1b9a;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;

}

.urso {
    height: 90px;
    /* altura */
}

.card {
    background: #fff;
    padding: 30px;
    width: 280px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.balao {
    height: 90px;
    /* altura */
}

.card h3 {
    color: #6a1b9a;
    margin-bottom: 10px;
}

.audio {
    height: 90px;
    /* altura */
}

/*NOSSOS DIFERENCIAIS*/
.diferenciais {
    padding: 60px 40px;
    text-align: center;
    color: #6a1b9a;
}

.caixa1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;

}

.fono {
    height: 90px;
    /* altura */
}

.caixa {
    background: #f5ecfa;
    padding: 30px;
    width: 280px;
    border-radius: 15px;
    box-shadow: 0 10px 25px #f5ecfa;
}

.casa {
    height: 90px;
    /* altura */
}

.caixa h3 {
    color: #6a1b9a;
    margin-bottom: 10px;
}

.mao {
    height: 90px;
    /* altura */
}

/* CONTATO */
.contato {
    padding: 60px 40px;
    text-align: center;
}

/* FOOTER */
.footer {
    background: #6a1b9a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .menu {
        margin-top: 15px;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero-text {
        text-align: center;
        flex: none;
    }

    .hero h1 {
        font-size: 2rem;
    }
}